:root{
    --accent: #95E1D3;
    --black: #333333;
    --grey: #B6B6B6;
}
h1,h2,h3,h4,p,ul,li,body,input,form,button{
    margin: 0;
    padding: 0;
}
.team-list img{
    width: 380px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.46;
    letter-spacing: 0%;
}
.logoo1 {
    font-family: "Montserrat";
    color: var(--accent);
    font-size: 30px;
    line-height: 1.219;
    font-weight: 700;
    text-decoration: none;
}
.section-pretitle {
    font-family: "Kaushan Script";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.45;
    text-align: center;
    margin-bottom: 20px;
}
.section-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    line-height: 1.219;
    text-align: center;
    color: var(--black);
    margin-bottom: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.invisible{
    display: none;
}
.container{
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    margin-top: 17px;
}
.lorem{
    color: #B6B6B6;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 87px;
    margin-bottom: 27px;
    
}
.nav-list{
    display: flex;
    gap: 55px;
}
.nav-link{
    text-transform: uppercase;
    font-size: 14px;
    color: var(--accent);
}
.nav-link:hover{
    color: var(--hover);
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 65px;
}
.service-list > li{
    width: 330px;
    margin-bottom: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-variant: small-caps;
    color: #333333;
}
.service-list > li > p{
    color: #B6B6B6;
}
.team{
    margin-bottom: 80px;
}
.team-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.team > p{
    margin-bottom: 27px;
    text-align: center;
}
.team-list li{
    text-align: center;
}
.team-list img{
    margin-bottom: 30px;
}
.team-list h4{
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 11px;
}
.team-list p{
    font-weight: 300;
    font-style: italic;
    font-style: 15px;
}
.footer{
    border-top: 1px solid #B6B6B6;
    padding-top: 10px;
    padding-bottom: 10px;


    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000000;
}
.footer form{
    display: flex;
    align-items: center;
}
.footer > p{
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.footer > p > a{
    color: #F38181;
}
.footer input{
    width: 230;
    padding: 12px 10px;
    border: 1px solid #B6B6B6;
}
.footer input::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
.footer button{
    width: 150;
    background-color: #95E1D3;
    padding: 11px 38px 12px;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    font-variant: small-caps;

}
.service-list img{
    width:37.8px ;
    
}
.wrap{
    display: flex;
}
.div1{
    background-color: #a21a1a;
    flex-grow: 1;
}
.div2{
    background-color: #21a21a;
    flex-grow: 1;
}
.div3{
    background-color: #281aa2;
    flex-grow: 1;
}