:root{
    --accent: #95E1D3;
    --black: #333333;
    --grey: #B6B6B6;
}
h1,h2,h3,h4,p,ul,li,body,input,form{
    margin: 0;
    padding: 0;
}
img{
    width: 380px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.46;
    letter-spacing: 0%;
}
.logoo1 {
    font-family: "Montserrat";
    color: var(--accent);
    font-size: 30px;
    line-height: 1.219;
    font-weight: 700;
    text-decoration: none;
}
.section-pretitle {
    font-family: "Kaushan Script";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.45;
    text-align: center;
}
.section-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    line-height: 1.219;
    text-align: center;
    color: var(--black);
    margin-bottom: 20px;
    letter-spacing: 0%;
}
.invisible{
    display: none;
}
.container{
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    outline: solid black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    margin-top: 17px;
}
.nav-list{
    display: flex;
    gap: 55px;
}
.nav-link{
    text-transform: uppercase;
    font-size: 14px;
    color: var(--accent);
}
.nav-link:hover{
    color: var(--hover);
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.service-list > li{
    width: 330px;
    margin-bottom: 100px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-list > li > h4{
    color: var(--black);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
.team-list > li > p{
    font-family: "Roboto";
    font-style: italic;
    color: var(--grey);
}